body{
   background: rgb(254, 213, 221);
      background: linear-gradient(90deg, rgba(254, 213, 221, 1) 0%, rgba(254, 213, 221, 1) 21%, rgba(254, 213, 221, 1) 35%, rgba(255, 255, 255, 1) 100%);
}

h1{
   font-size: 60px;
   font-weight: 900;
}

.product-img{
   display: flex;
   justify-content: center;
   align-items: center;
}

.product-img img{
   width : 70%;
}

.product-name{
   font-size: 40px;
   font-weight: 800;
}

.product-desc{
   font-size: 20px;
}

.product-price{
   font-size: 30px;
   font-weight: 900;
}

tr{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.add-to-cart{
   padding: 13px;
   border: 0px solid transparent;
   border-radius: 20px;

   background-color: #5c4a5a;
   color: white;

   font-family: sans-serif;

   transition-duration: 0.5s;
}

.add-to-cart:hover{
   transform: scale(1.1);
   filter: drop-shadow(0 0 0.90rem rgb(77, 77, 77));
}